* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Nav Bars */

/* Nav Bar 1 */
/* Nav Bar 2 */
/* Nav Bar 3 */

/* Hero */

/* Shop Now */

/* Trending */

/* Testimonial */

/* Like */

/* News */

/* Advantages */

/* Footer */